<html>
	<head>
		<title>Test results overview</title>
	</head>
	<body>
	<br>

		<ul>
		{% for suite in @Model.TestSuites -%}
		  {% case suite.Status %}
          {% when 'PASSED' %}
            {% assign suiteColor = 'green' %}
          {% when 'FAILED' %}
            {% assign suiteColor = 'red' %}
          {% when 'NOT TESTED' %}
            {% assign suiteColor = 'gray' %}
          {% endcase %}
		  <li><font color="{{ suiteColor }}">{{ suite.Id }} {{ suite.Name }} {{ suite.Status }}</font></li>
		  <ul>
		  {% for scenario in suite.TestScenarios -%}
		    {% case scenario.Status %}
            {% when 'PASSED' %}
                {% assign scenarioColor = 'green' %}
            {% when 'FAILED' %}
                {% assign scenarioColor = 'red' %}
            {% when 'NOT TESTED' %}
                {% assign scenarioColor = 'gray' %}
            {% endcase %}
            <li><font color="{{ scenarioColor }}">{{ scenario.Id }} {{ scenario.Name }} {{ scenario.Status }}</font></li>
			<ul>
			{% for result in scenario.TestResults -%}
			  {% if result.Origin == 'Logical' %}
    		      {% case result.Status %}
                  {% when 'PASSED' %}
                    {% assign resultColor = 'green' %}
                  {% when 'FAILED' %}
                    {% assign resultColor = 'red' %}
                  {% when 'NOT TESTED' %}
                    {% assign resultColor = 'gray' %}
                  {% when 'KNOWN ISSUE' %}
                    {% assign resultColor = 'olive' %}
                  {% endcase %}
                  <li><font color="{{ resultColor }}">{{ result.Id }} {{ result.Name }} {{ result.Status }}</font></li>
              {% endif %}
			{% endfor -%}
			</ul>
		  {% endfor -%}
		  </ul>
		{% endfor -%}
		</ul>
	</body>
</html>