<html>
	<head>
		<title>Test results overview</title>
	</head>
	<body>
	<br>

		<ul>
		{% for suite in @Model.TestSuites -%}
		  <li>{{ suite.Id }} {{ suite.Name }} {{ suite.Status }}</li>
		  <ul>
		  {% for scenario in suite.TestScenarios -%}
			<li>{{ scenario.Id }} {{ scenario.Name }} {{ scenario.Status }}</li>
			<ul>
			{% for result in scenario.TestResults -%}
				<li>{{ result.Id }} {{ result.Name }} {{ result.Status }}</li>
			{% endfor -%}
			</ul>
		  {% endfor -%}
		  </ul>
		{% endfor -%}
		</ul>
	</body>
</html>