<html>
	<head>
		<title>Test results overview</title>
	</head>
	<body>
	<br>

		<ul>
		{% for suite in @Model.TestSuites -%}
		  {% if suite.Status == 'PASSED' %}
            <li><font color="green">{{ suite.Id }} {{ suite.Name }} {{ suite.Status }}</font></li>
          {% endif %}
		  {% if suite.Status == 'FAILED' %}
            <li><font color="red">{{ suite.Id }} {{ suite.Name }} {{ suite.Status }}</font></li>
          {% endif %}
		  {% if suite.Status == 'NOT TESTED' %}
            <li><font color="gray">{{ suite.Id }} {{ suite.Name }} {{ suite.Status }}</font></li>
          {% endif %}
		  <ul>
		  {% for scenario in suite.TestScenarios -%}
		    {% if scenario.Status == 'PASSED' %}
		      <li><font color="green">{{ scenario.Id }} {{ scenario.Name }} {{ scenario.Status }}</font></li>
		    {% endif %}
		    {% if scenario.Status == 'FAILED' %}
		      <li><font color="red">{{ scenario.Id }} {{ scenario.Name }} {{ scenario.Status }}</font></li>
		    {% endif %}
		    {% if scenario.Status == 'NOT TESTED' %}
		      <li><font color="gray">{{ scenario.Id }} {{ scenario.Name }} {{ scenario.Status }}</font></li>
		    {% endif %}
			<ul>
			{% for result in scenario.TestResults -%}
                {% if result.Status == 'PASSED' %}
                    <li><font color="green">{{ result.Id }} {{ result.Name }} {{ result.Status }}</font></li>
                {% endif %}
                {% if result.Status == 'FAILED' %}
                    <li><font color="red">{{ result.Id }} {{ result.Name }} {{ result.Status }}</font></li>
                {% endif %}
                {% if result.Status == 'NOT TESTED' %}
                    <li><font color="gray">{{ result.Id }} {{ result.Name }} {{ result.Status }}</font></li>
                {% endif %}
			{% endfor -%}
			</ul>
		  {% endfor -%}
		  </ul>
		{% endfor -%}
		</ul>
	</body>
</html>