<html>
    <head>
        <title>Test tasks</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <a href="/testRuns/testRuns">Test runs</a>
        <br>
        <br>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Started</th>
                <th>Time taken</th>
                <th>Finished</th>
                <th>Status</th>
                <th>Client Id</th>
            </tr>
            {% assign sortedTasks = @Model.TasksForClients | sort:'Id' %}
            {% for task in sortedTasks %}
            <tr>
                <td>{{ task.Id }}</td>
                <td>{{ task.Name }}</td>
                <td>{{ task.Start_Time }}</td>
                <td>{{ task.Get_Time_Taken() }}</td>
                <td>{{ task.Task_Finished }}</td>
                <td>{{ task.Task_Status }}</td>
                <td>{{ task.Client_Id }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>