<html>
    <head>
        <title>Test clients</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
        <meta http-equiv="refresh" content="30">
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <a href="/testRuns/testRuns">Test runs</a>
        <br>
        <br>
        <table border="1">
            <tr>
                <th>Hostname</th>
                <th>Username</th>
                <th>CustomString</th>
                <th>Status</th>
                <th>Task Id</th>
                <th>Task Name</th>
                <th>Detailed Status</th>
            </tr>
            {% for testClient in @Model.Clients -%}
                <tr>
                <td>{{ testClient.Fqdn }}</td>
                <td>{{ testClient.Username }}</td>
                <td>{{ testClient.Custom_String }}</td>
                <td>{{ testClient.Status }}</td>
                <td>{{ testClient.Task_Id }}</td>
                <td>{{ testClient.Task_Name }}</td>
                <td>{{ testClient.Detailed_Status }}</td>
                </tr>
            {% endfor -%}
        </table>
    </body>
</html>