<html>
    <head>
        <title>Test runs queue</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <br>
        <br>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Test Lab</th>
                <th>Started</th>
                <th>Time taken</th>
                <th>Status</th>
                <th>Description</th>
                <th>Test results</th>
                <th>Parameters</th>
                <th>Clients</th>
                <th>Tasks</th>
                <th>Cancel</th>
            </tr>
            {% for testRun in @Model.TestRuns -%}
            <tr>
                <td>{{ testRun.Name }}</td>
                <td>{{ testRun.Get_Test_Lab_Name() }}</td>
                <td>{{ testRun.Start_Time }}</td>
                <td>{{ testRun.Time_Taken }}</td>
                <td>{{ testRun.Status }}</td>
                <td>{{ testRun.Description }}</td>
                <td><a href="/testRuns/{{ testRun.Id }}/testResults">test results</a></td>
                <td><a href="/testRuns/{{ testRun.Id }}/testParameters">parameters</a></td>
                <td><a href="/testRuns/{{ testRun.Id }}/clients">clients</a></td>
                <td><a href="/testRuns/{{ testRun.Id }}/tasks">tasks</a></td>
                {% if testRun.Status == 'Pending' %}
                    <!-- http://blog.nancyfx.org/x-http-method-override-with-nancyfx/ -->                
                    <form action="/api/testRuns/{{ testRun.Id }}/cancelTestRun" method="POST">
                        <input type="hidden" name="_method" value="PUT"/>
                        <td><input type="submit" value="Cancel"/></td>
                    </form>
                {% elsif testRun.Status == 'Running' %}
                    <td style="text-align:center">Sorry!</td>
                {% else %}
                    <td><input type="submit" value="Cancel" disabled/></td>
                {% endif %}
            </tr>
            {% endfor -%}
        </table>
    </body>
</html>