<html>
	<head>
		<title>Test runs queue</title>
	</head>
	<body>
	<br>
		<ul>
		{% for testRun in @Model.TestRuns -%}
		  <li>{{ testRun.Id }} '{{ testRun.Name }}' {{ testRun.TestLabId }} '{{ testRun.Description }}' {{ testRun.Status }}</li>
		{% endfor -%}
		</ul>
	</body>
</html>