<html>
	<head>
		<title>Test runs queue</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>
    </head>
	<body>
	<br>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Test Lab Id</th>
                <th>Started</th>
                <th>Status</th>
                <th>Description</th>
                <th>Test results</th>
                <th>Cancel</th>
            </tr>
            {% for testRun in @Model.TestRuns -%}
            <tr>
                <td>{{ testRun.Name }}</td>
                <!-- <td>{{ testRun.TestLabId }}</td> -->
                <td>{{ @Model.TestLabs.First(testLab => testLab.Id == testRun.TestLabId).Name }}</td>
                <td>{{ testRun.StartTime }}</td>
                <td>{{ testRun.Status }}</td>
                <td>{{ testRun.Description }}</td>
                <td><a href="/results/{{ testRun.Id }}/testResults">test results</a></td>
                <td><a href="/results/{{ testRun.Id }}">cancel</a></td>
            </tr>
            {% endfor -%}
        </table>
	</body>
</html>